body{
  background-color: black;
}
h1, h2{
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #F6D608;
  display: inline-block;
}
.headRed{
  color: red;
}
.headBlue{
  color: blue;
}
.container{
  height: 100%;
  width: 100%;
  margin:0 auto;
  position: relative;

}
div{
  text-align: center;
  height: 150px;
  width: 150px;
  display:inline-block;
  border-radius: 6px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
}
.box{
  margin: 4px;
  background-color: #37E82A;
  box-sizing: border-box;
}

button{
text-align: center;
font-size: 25px;
margin: 0 auto;
}
input{
  font-size: 20px;
}
.blue{
  text-align: center;
  background-color: blue;
  font-size: 100%;
}
.red{
  text-align: center;
  background-color: red;
  font-size: 20px;
}
.box:hover {
	background-color: darkcyan;

}
.blue{
  background-color:blue;
  font-size: 160px;
}
.red{
  background-color:red;
  font-size: 160px;
}
img{
  height: 70px;
  width: 70px;
  display: inline-block;
  text-align: center;
}
.start{
  margin: 20px;
}
.images{
  margin: 5px;
  padding: 0px;
}
